.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rates-container {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.rate-option {
    border: 1px solid black;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(188, 253, 231);
}

.rate-active {
    background-color: rgb(67, 250, 189);
}


/* .miles-container{
  margin
} */