body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}

#root {
    margin-top: 30px;
}

.container {
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-height: 700px;
    justify-content: center;
    align-items: center;
}

.input {
    height: 66%;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: lightgray;
    /* border-radius: 32px 32px 0px 0px; */
}

.input>div {
    margin-top: 10px;
}

.output {
    height: 34%;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightgray;
    /* border-radius: 0px 0px 32px 32px; */
    flex: auto;
}

.rates-container {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.rate-option {
    /* border: 1px solid black; */
    cursor: pointer;
    width: 120px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
    color: rgb(177, 175, 175);
}

.rate-option h2 {
    text-align: center;
}

.rate-active {
    background-color: rgb(9, 9, 9);
    border-bottom: 2px solid white;
    border-right: 1px solid white;
    color: white;
}

input[type="range"] {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 300px;
    /* background-color: rgb(163, 162, 162); */
    background: lightgray;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 200px;
    height: 6px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 9px;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 25px;
    border-radius: 3px;
    background: #0c0c0c;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
}

.miles-container h4 {
    width: 300px;
    text-align: left;
    margin: 30px 0px 0px 0px;
}

select {
    width: 300px;
    height: 40px;
    margin-top: -8px;
}

h4 span {
    font-size: 24px;
}

.hours-label {
    margin: 0;
    background: black;
    color: white;
    text-align: center;
    padding: 6px;
}

.tr-label {
    width: 150px;
    text-align: left;
}

h2 {
    text-align: left;
    margin-bottom: 24px;
    margin-top: 30px;
}

.output-label {
    width: 300px;
    text-transform: uppercase;
    margin-top: 40px;
}

table {
    border-collapse: collapse;
    width: 300px;
}

tr,
td {
    border: 1px solid grey;
}

tr {
    height: 30px;
}

td {
    padding: 10px;
    text-align: center;
}

.best-choice {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 4px black;
}

.hr-div {
    background-color: lightgray;
    width: 380px;
    display: flex;
    justify-content: center;
}

hr {
    border-top: 1px solid grey;
    margin: 0;
    width: 340px;
}

@media (max-width: 600px) {
    #root {
        margin-top: 0px;
    }
}